<nav>
  <a href="/" class="<%= (page == '/') ? 'active' : '' %>">Home</a>
  <a href="/solutions/projects" class="<%= (page == '/solutions/projects') ? 'active' : '' %>">View Projects</a>
  <a href="/about" class="<%= (page == '/about') ? 'active' : '' %>">About</a>
</nav>
